<html>
	<head>
		<title>Pinger</title>
		<link rel="stylesheet" type="text/css" href="css/style.css"/>
	</head>
	<body id="main">
		<div id="header">
			<div id="logo">
				<h1>Pinger<span>beta</span></h1>
			</div>
			<div id="nav">
				<ul>
					<li><a href="#">Dashboard</a></li>
					<li><a href="#">Check</a></li>
					<li><a href="#">Help</a></li>
					<li><a href="logouthandle.action">Logout</a></li>
				</ul>
			</div>
		</div>
		<div class="clear"></div>
		<div id="middle">
			<div id="left">
				<div id="sideBar">
					<ul>	
						<li class="addC"><a href="home.action">Back to Home</a></li>
					</ul>
				</div>
				<div class="guide">
					<p><span>G</span>uide</p>
				</div>
				<div id="gettingStarted" class="box dark">
    				<h3>Check Edit</h3>
    				<p>On this page you can edit the property of the check you have deployed , such as frequency and whether you need to keep monitoring it.</p>
				</div>
			</div>
			<div id="right">
				<div class="rightTitle">
					<h2>Check Edit</h2>
				</div>
				<div id="checkEditor">
					<form class="checkForm" method="post" action="editCheck.action">
						Name: <input class="field" name="checkname" type="text" value="$check.name"/><br/>
						URL: <input class="field" name="checkurl" type="text" value="$check.url"/><br/>
						Frequency: 
						<select class="field"  name="checkFrequency" id="frequency">
							<option value="1">1</option>
							<option value="5">5</option>
							<option value="10">10</option>
							<option value="15">15</option>
							<option value="30">30</option>
							<option value="60">60</option>
						</select> minutes<br/>
						Notify when consecutively fail: <input class="field"  name="checklimit" type="text" size="3" value="$check.timesLimit"/>times.<br/>
						#if($check.needMonitor)
							need monitor?<input name="needMonitor" class="field"  type="checkbox" checked/>
						#else
							need monitor?<input name="needMonitor" class="field"  type="checkbox"/>
						#end
						<input class="field"  name="checkId" type="hidden" value="$check.cid"/><br>
						<input class="create"  type="submit" value="edit"/>
					</form>
				</div>
			</div>
		</div>
		<div class="clear"></div>
		</div>
		<div id="footer">
			<h3>Contact us: </h3>
			<p>yaoyu,he@thomsonreuters.com</p>
			<p>yunfeng,guo@thomsonreuters.com</p>
		</div>
	</body>
</html>